<link rel="stylesheet" type="text/css" href="~/css/KimDat/AdninCareerProfile.css" />
<link rel="stylesheet" type="text/css" href="~/css/KimDat/css-loader.css" />
@model ReflectionIT.Mvc.Paging.PagingList<PharmaceuticalsCompany.Models.Career.ApplicationUser>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{
    int count = 1;
}


<script src="~/js/Kimdat/jquery-3.2.1.min.js"></script>
<script>
   
    function myFunction(x) {
        var list1 = $("#listuser1");

        var list2 = $("#listuser2");
        if (x.matches) { // If media query matches
           
            list1.attr("hidden", true);
            list2.removeAttr("hidden");

        } else {
           
            list2.attr("hidden", true);
            list1.removeAttr("hidden");
        }
    }

    var x = window.matchMedia("(max-width: 651px)")
    myFunction(x) // Call listener function at run time
    $(document).ready(function () {
        myFunction(x)
    });
    x.addListener(myFunction) // Attach listener function on state changes
</script>

<style>
   

    #product {
        table-layout: fixed;
    }

        #product img {
            max-width: 100%;
            max-height: 100%;
        }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

                .pagination > li > a:hover,
                .pagination > li > span:hover,
                .pagination > li > a:focus,
                .pagination > li > span:focus {
                    z-index: 2;
                    color: #23527c;
                    background-color: #eeeeee;
                    border-color: #ddd;
                }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .pagination > li:last-child > a,
            .pagination > li:last-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        .pagination > .disabled > span,
        .pagination > .disabled > span:hover,
        .pagination > .disabled > span:focus,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #777777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a,
    .pagination-lg > li:last-child > span {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a,
    .pagination-sm > li:last-child > span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#sendmail").submit(function (e) {
            var check = true;
            if ($("input[name = 'Subject']").val().trim() == '') {
                $(".errorSubject").html("subject is required");
                // thisalert.html("subject is required");
                check = false;
            }
            if ($("textarea[name = 'Message']").val().trim() == '') {
                $(".errorMessage").html("Message is required");
                check = false;
            }

            e.preventDefault();
            if (check == true) {

                $.ajax({
                    method: 'post',
                    url: this.action,
                    data: $(this).serialize(),
                    datatype: 'json',
                    beforeSend: function () { $('.Waitsendmail').show(); },
                    complete: function () {
                        $('.Waitsendmail').hide();
                        $('.success').show(0).delay(5000).hide(0);
                        sucessClose()

                    },
                    error: function (xhr) {

                    },
                    success: function (result) {
                        if (!result.success) {

                            alert("error");



                        }
                        else {

                            // alert("you have sent email successfully for " + $("input[name='To']").val());
                            //   window.location.href = "/Career"
                        }

                        // location.reload();
                        //var a=data.status;
                        //alert(a);
                        //  document.getElementById("total").innerHTML = 123;
                    }

                });
            }

        });
    });
</script>
@if (Model.Any())
{
    <div class="row" id="listuser1" >
        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <div class="card">
                <div class="card-body">
                    <table id="product" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>FullName</th>
                                <th>Phone</th>
                                <th>DOB</th>
                                <th>Email</th>
                                <th>Image   </th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @item.DateOfBirth))</td>

                                    <td>
                                        <a data-toggle="modal" onclick="sendmail('@item.Email','@item.FullName')" data-target="#myModal" style="color:blue">@item.Email</a>
                                        @if (!item.EmailConfirmed)
                                        {
                                            <p>

                                                (has not been vertified)
                                            </p>
                                        }
                                    </td>

                                    <td> <img src="/@item.Photo"></td>
                                    <td>
                                        <a class="btn btn-warning" href="Career/Profile/@item.Id">
                                            watch Details
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>FullName</th>
                                <th>Phone</th>
                                <th>DOB</th>
                                <th>Email</th>
                                <th>Image   </th>
                                <th >Detail  </th>
                            </tr>

                        </tfoot>

                    </table>
                    <nav aria-label="Suppliers navigation example" style="float:right">
                        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Any())
{




    <div class="card " id="listuser2" hidden >


        <div class="card-header">
            List USER
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            @foreach (var item in Model)
            {


                <div class="container-fluid" style="margin-bottom:20px">
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header d-inline-block">
                                    <h3 class="card-title">Infro personal @count</h3>

                                </div>

                                <div class="card-body">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label style="font-size:28px">FullName:@item.FullName</label>


                                            <br />
                                            <img src="/@item.Photo" style="width:100%;height:200px">
                                            <br />

                                        </div>
                                        <div class="col-lg-8" style="font-size:26px;padding-top:45px">


                                            Phone: @item.PhoneNumber
                                            <br />

                                            Date Of Birth: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @item.DateOfBirth))
                                            <br />


                                            @if (item.EmailConfirmed)
                                            {
                                                <p>  Email: <a data-toggle="modal" onclick="sendmail('@item.Email','@item.FullName')" data-target="#myModal" style="color:blue">@item.Email</a></p>

                                            }
                                            else
                                            {
                                                <p style="  white-space: normal;">
                                                    Email:@item.Email
                                                    (has not been vertified)
                                                </p>
                                            }

                                            <br /><br />
                                        </div>
                                        <a class="btn btn-warning" href="Career/Profile/@item.Id" style="position:absolute;bottom:0;margin:auto;right:0">
                                            watch Details

                                        </a>
                                    </div>
                                </div>
                                <!-- /.card-body -->


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>
                count = count + 1;

            }
            <div>
                <nav aria-label="Suppliers navigation example" style="float:right">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
                </nav>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.col -->

    <!-- /.row -->

    <!-- Modal -->
    <div class="modal fade sendmail" id="myModal" role="dialog">


        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">New Message</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="sendmail" onsubmit="return validMail()" asp-controller="AdminCareer" asp-action="SendMail" method="post">
                        <input type="hidden" name="ReceiveName" />
                        <div class="form-group">
                            <div class="email">
                                <label for="" style="margin-right:35px">To:</label>
                                <input readonly name="To" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="email">
                                <label for="">Subject:</label>
                                <input type="text" class="form-control" name="Subject">
                            </div>
                            <span class="errorSubject" style="color:red"></span>

                        </div>
                        <div class="form-group">

                            <label for="">Message:</label>
                            <textarea class="form-control" name="Message"></textarea>

                            <span class="errorMessage" style="color:red"></span>
                        </div>
                        <div class="form-group">

                            <button type="submit" style="width:100%" class="btn btn-primary"> Send </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>

}
<script src="~/js/Kimdat/jquery-3.2.1.min.js"></script>


<script>

    function sendmail(to, name) {
        $("input[name = 'Subject']").val("");
        $("textarea[name = 'Message']").val("");
        $("input[name='To']").val(to);
        $("input[name='ReceiveName']").val(name);
    }
    $("input[name = 'Subject']").focus(function () {
        $(".errorSubject").html("");
    });
    $("textarea[name = 'Message']").focus(function () {
        $(".errorMessage").html("");
    });
    function validMail() {

        return check;
    }
</script>

<div class="wait Waitsendmail">
    <div class="wrapper">
        <div class="inner">
            <span>P</span>
            <span>L</span>
            <span>E</span>
            <span>A</span>
            <span>S</span>
            <span>E</span>
            <span>w</span>
            <span>A</span>
            <span>I</span>
            <span>T</span>

        </div>
    </div>
</div>

<div class="wait  success">

    <div class="loading">

        <div class="loading__letter">S</div>
        <div class="loading__letter">U</div>
        <div class="loading__letter">C</div>
        <div class="loading__letter">E</div>
        <div class="loading__letter">S</div>
        <div class="loading__letter">S</div>

    </div>

</div>
