<link rel="stylesheet" type="text/css" href="~/css/KimDat/AdminCareer  - Copy.css" />"
<link rel="stylesheet" type="text/css" href="~/css/KimDat/css-loader.css">
@model IEnumerable<PharmaceuticalsCompany.Models.Career.ApplicationUser>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{
    int count = 1;
}


<script src="~/js/Kimdat/jquery-3.2.1.min.js"></script>


<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#sendmail").submit(function (e) {
            var check = true;
            if ($("input[name = 'Subject']").val().trim() == '') {
                $(".errorSubject").html("subject is required");
                // thisalert.html("subject is required");
                check = false;
            }
            if ($("textarea[name = 'Message']").val().trim() == '') {
                $(".errorMessage").html("Message is required");
                check = false;
            }

            e.preventDefault();
            if (check == true) {

                $.ajax({
                    method: 'post',
                    url: this.action,
                    data: $(this).serialize(),
                    datatype: 'json',
                    beforeSend: function () { $('.Waitsendmail').show(); },
                    complete: function () {
                        $('.Waitsendmail').hide();
                        $('.success').show(0).delay(5000).hide(0);
                        sucessClose()

                    },
                    error: function (xhr) {

                    },
                    success: function (result) {
                        if (!result.success) {

                            alert("error");



                        }
                        else {

                           // alert("you have sent email successfully for " + $("input[name='To']").val());
                            //   window.location.href = "/Career"
                        }

                        // location.reload();
                        //var a=data.status;
                        //alert(a);
                        //  document.getElementById("total").innerHTML = 123;
                    }

                });
            }

        });
    });
</script>
@if (Model.Any())
{




    <div class="card">


        <div class="card-header">
            List USER
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            @foreach (var item in Model)
            {


                <div class="container-fluid" style="margin-bottom:20px">
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header d-inline-block">
                                    <h3 class="card-title">Infro personal @count</h3>

                                </div>

                                <div class="card-body">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label style="font-size:28px">@item.FullName</label>


                                            <br />
                                            <img src="/@item.Photo" style="width:100%;height:200px">
                                            <br />

                                        </div>
                                        <div class="col-lg-8" style="font-size:26px;padding-top:45px">


                                            Phone: @item.PhoneNumber
                                            <br />

                                            Date Of Birth: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @item.DateOfBirth))
                                            <br />
                                            @if (item.Gender == true)
                                            {
                                                <label>Gender:Male</label> <br />
                                            }
                                            else
                                            {
                                                <label>   Gender: Female</label> <br />
                                            }

                                            @if (item.EmailConfirmed)
                                            {
                                                <p>  Email: <a data-toggle="modal" onclick="sendmail('@item.Email','@item.FullName')" data-target="#myModal" style="color:blue">@item.Email</a></p>

                                            }
                                            else
                                            {
                                                <p style="  white-space: normal;">
                                                    Email:@item.Email
                                                    (has not been vertified)
                                                </p>
                                            }

                                            <br /><br />
                                        </div>
                                        <a class="btn btn-warning" href="Career/Profile/@item.Id" style="position:absolute;bottom:0;margin:auto;right:0">
                                            watch Details

                                        </a>
                                    </div>
                                </div>
                                <!-- /.card-body -->


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>
                count = count + 1;

            }


        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.col -->

    <!-- /.row -->

    <!-- Modal -->
    <div class="modal fade sendmail" id="myModal" role="dialog">


        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">New Message</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="sendmail" onsubmit="return validMail()" asp-controller="AdminCareer" asp-action="SendMail" method="post">
                        <input type="hidden" name="ReceiveName" />
                        <div class="form-group">
                            <div class="email">
                                <label for="" style="margin-right:35px">To:</label>
                                <input readonly name="To" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="email">
                                <label for="">Subject:</label>
                                <input type="text" class="form-control" name="Subject">
                            </div>
                            <span class="errorSubject" style="color:red"></span>

                        </div>
                        <div class="form-group">

                            <label for="">Message:</label>
                            <textarea class="form-control" name="Message"></textarea>

                            <span class="errorMessage" style="color:red"></span>
                        </div>
                        <div class="form-group">

                            <button type="submit" style="width:100%" class="btn btn-primary"> Send </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>

}
<script src="~/js/Kimdat/jquery-3.2.1.min.js"></script>


<script>

    function sendmail(to, name) {
        $("input[name = 'Subject']").val("");
        $("textarea[name = 'Message']").val("");
        $("input[name='To']").val(to);
        $("input[name='ReceiveName']").val(name);
    }
    $("input[name = 'Subject']").focus(function () {
        $(".errorSubject").html("");
    });
    $("textarea[name = 'Message']").focus(function () {
        $(".errorMessage").html("");
    });
    function validMail() {

        return check;
    }
</script>

<div class="wait Waitsendmail">
    <div class="wrapper">
        <div class="inner">
            <span>P</span>
            <span>L</span>
            <span>E</span>
            <span>A</span>
            <span>S</span>
            <span>E</span>
            <span>w</span>
            <span>A</span>
            <span>I</span>
            <span>T</span>

        </div>
    </div>
</div>

<div class="wait  success">

    <div class="loading">

        <div class="loading__letter">S</div>
        <div class="loading__letter">U</div>
        <div class="loading__letter">C</div>
        <div class="loading__letter">E</div>
        <div class="loading__letter">S</div>
        <div class="loading__letter">S</div>

    </div>

</div>
