@model IEnumerable<PharmaceuticalsCompany.Models.Products.ProductLiquidFilling>

@{
    ViewData["Title"] = "showLiquid";
}
<link href="~/lightslider.css" rel="stylesheet" type="text/css">
<h4>Capsule/ Encapsulation</h4>
<section class="slider">

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="box">

                        <div class="slide-img">
                            <img alt="1" src="@item.AriPhoto  ">
                            <div class="overlay">
                                <a asp-action="Detail" asp-route-id="@item.LFId" class="buy-btn">Details</a>
                             
                            </div>
                        </div>

                        <div class="detail-box">

                            <div class="type">
                                <a href="#">@item.LFName</a>
                                <span></span>
                            </div>

                        </div>


                    </div>
                </div>
            }
        </div>
    </div>

</section>
@*
    <h2>showLiquid</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LFName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AirPressure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Air_Volume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FillingSpeed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FillingRange)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AriPhoto)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LFName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirPressure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Air_Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FillingSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FillingRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AriPhoto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LFId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LFId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LFId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@